<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>
        {% block title %} Default {% endblock title %}
    </title>

    {% import "macros/button.jinja2" as buttons %}
    {% import "styles/button_styles.jinja2" as button_styles %}

</head>
<body>
    <section>
        {% block sidenav %} {% endblock sidenav %}
    </section>
    <section>
        {% block content %} {% endblock content %}
    </section>
</body>
</html>
