{% set lbl_primary = "" %}
{% set ipt_primary = "w-full px-8 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-purple-500 text-sm transition" %}