{% extends "base.jinja2" %}

{% block title %} Início | WebHotels {% endblock title %}

{% block sidenav %}
    {% set type_sidenav = type_sidenav %}
    {% include "partials/sidenav.jinja2" %}
{% endblock sidenav %}
